.Header {
    height: 10%;
}

body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    
    overflow: hidden;
}


/* MainPlayer */

.MediaBoxWebRTC {
    background-color: black;
    border-radius: 1%;
    margin: 0%;
    height: 100%;
    padding-left: 2%;
}

.MainMediaBox {
    position: relative;
    width: 98%;
    height: 50%;
    

    border: 1px solid gray;
    text-align: center;
}

/* SidePlayer */

.SideMediaBox{
    width: 98%;
    height: 40%;

    margin-right: 1%;
    
    display: flex;
    

    border: 1px solid gray;
}


.SidePlayer{
    height: 100%;
    width: 33.33%;
    
    border: 1px solid gray;
    text-align: center;
} 

.SidePlayer:hover {
    border: white;
}

.Stream {
   height: 100%;
}