@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: 'PlutoTV';
    src: url('PlutoTVSansV11Regular.ttf') format('truetype');
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'PlutoTV', sans-serif; /*"Nunito Sans", sans-serif*/;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #322f2f /*#2196F3*/;
    width: 300px;
    padding: 10px 12px 10px 12px;
    box-shadow: 0px 0px 12px white;
    border-radius: 10px;
    z-index: 1000;
    border: 3px solid rgba(255, 255, 255, 0.1); 
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.grid-container:hover{
    background-color: #1f1f1f;
    cursor: pointer;
    border-color: #fff200;
    box-shadow: 0px 0px 12px #fff200;
}

button:hover{
    cursor: pointer;
}
button{
    margin-right: 20px;
    margin-left: 20px;
}

.item {
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.country {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0px 0px 5px white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

#searchbar {
    padding: 5px 10px 5px 10px;
    border: 0;
    border-bottom: 2px solid #a8a8a8;
    width: 320px;
    background-color: #000000;
    box-sizing: border-box;
    color: white;
}

#searchbar:focus {
    border: 2px solid #fff200;
    border-radius: 25px; 
    outline: none; 
}


::placeholder{
    color: #a8a8a8;
    font-weight: bold;
}

#USA, #Mexico, #Canada {
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden{
    visibility: hidden;
    display: none;
}
select{
    margin: 10px;
    border: 2px solid #fff200;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    background-color: #322f2f;
    color: white;
}

